<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Terms and Conditions Summarization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  </head>
  <body>
  <h1>Terms and conditions summarization</h1>
    <form id="form" action="/" method="get">
        <textarea name="text" class="text" cols="86" rows="20"></textarea>
        <input type="submit" class="submitbutton" name="input" value="submit">
    </form>

    <p><br><br>
    <b>Arbitration</b><br>
    Règles injustes : ex : Problème résolu en interne chez l'entreprise plutôt qu'à une court.<br><br>

    <b>Unilateral change</b><br>
    Changement du contrat sans avoir besoin de l'accord de l'autre parti ex : dans un cloud, changement de la quantité de stockage mise à disposition.<br><br>

    <b>Juridiction</b><br>
    Permet à l'entreprise de choisir les tribunaux dans lesquels les conflits seront réglés.<br><br>

    <b>Choice of law</b><br>
    Précise les lois de quel pays régissent le contrat.<br><br>

    <b>Limitation of liability</b><br>
    Limite la responsabilité d'un des parties en cas de réclamation abusive.<br><br>

    <b>Unilateral terminaison</b><br>
    indique dans quelles circonstances l'entreprise peut clôturer ou suspendre un compte sans l'accord du propriétaire du compte.<br><br>

    <b>Use by contract</b><br>
    Précise les règles que l'utilisateur doit respecter lors de l'utilisation de l'application.
    </p>
  </body>
</html>
