<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Terms and Conditions Summarization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  </head>
  <body>
  <h1>Terms and conditions summarization</h1>
    <form id="form" action="/" method="get">
        <textarea name="text" class="text" cols="86" rows="20"></textarea>
        <input type="submit" class="submitbutton" name="input" value="submit">
    </form>
  </body>
</html>
