<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Terms and Conditions Summarization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  </head>
  <body>
      <h1>Found summary</h1>
      <div class="texts">
{#          <div class="classes">#}
{#          <div class="classes_wrapped">#}
{#              {% for element in summary %}#}
{#                <p class="classes_p">{{ element[0] }}</p>#}
{#              {%  endfor %}#}
{#          </div>#}
{#          </div>#}
{#          <div class="summary">#}
{#              {% for element in summary %}#}
{#                <p>{{ element[1] }}</p>#}
{#              {%  endfor %}#}
{#          </div>#}
          <table>
            <tr>
                <th>Class</th>
                <th>Sentence</th>
            </tr>
            <tbody>
            {% for s in summary %}
                <tr>
                    <td>{{ s[0] }}</td>
                    <td>{{ s[1] }}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>
  </body>
</html>
